.LoginButton {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer; 
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu_area {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
  padding: 20px;
}
.menu-list li {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.search-box {
  align-items: center;
}

.search-box input {
  border: none;
  background-color: #faf9f8;
  padding-left: 20px;
}

.search-box input:focus {
  outline: none;
}

.search-box-icon {
  margin-left: 10px;
}

.landing-search-box {
  right: 20px;
  position: absolute;
}

.hover01 img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 0.5s ease-in-out; /* 변환에 대한 0.5초 애니메이션 */
  transition: transform 0.5s ease-in-out;
  width: 300px;
}

.hover01 img:hover {
  -webkit-transform: scale(1);
  transform: scale(1.1);
}

.product-img{
  display: flex;
  justify-content: flex-end;
}

.Dropdownbutton{
  background-color:transparent;;
}